body {
  font-family: "Avenir Next";
  margin: 0px;
  /* background: #feffdc; */
}

a {
  text-decoration: none;
}

body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

li {
	list-style: none;
}

nav{
  font-size:20px; 
}

nav a{
  color:hsl(0, 0%, 0%);
}

nav a:visited{}


h1:target{
  background: rgb(205, 255, 88);
}
 

header{
	background: linear-gradient(#80ecff,#c9f8ff);
  height: 70px;
  padding: 0px;
  
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:24;  
  
}

.link-bar{
  float: left;
  display:flex;
  margin-top:5px;
  
}

.in-link-bar{
  float:left;
  display:  flex;
}

.Profile{
  float: left;
  font-size: 36px;
  padding-left: 20px;
  padding-right:10px; 
/*  padding-top: 5px; */
  
}


.header-list{
  /*float:right;*/
  padding-right: 10px;
  padding-top: 5px;
  
  float: right;
  display:flex;
}


.header-block li{
  padding-top:15px;
}



.header-block {
  float:left;
  padding-left: 20px;
  padding-right:20px;
  column-rule: 2px solid #2f5167;
}

.header-block:hover{
  background: rgba(209, 209, 209, 0.383);
}

.header-list li {
  float: right;
  display: flex;
   
}

    


main{
  margin-top: 70px;
  
 
  /*height:900px;*/
}


.introduce {
  padding: 10px;
  background-color: #3f51b5;
  text-align: center;
}

.introduce p{
  color: #fff;
}
.introduce h1{
  margin: 10px;
}
.introduce h2{
  margin:10px;
  margin-bottom:20px;
}

.icon{
  padding-top: 50px;
}

img.icon-top{
  border-radius:60%;
  width:200px;
}

img.icon-side-cut{
  border-radius:30%;
}

.name{
  
  color:rgba(212, 212, 212, 0.972);
}

.about {
  padding-left: 50px; 
}

.main-block h2{
  text-align: center;
}

.main-block{
  margin-left: 20px;
  margin-right:20px;

}

.line {
	display: flex;
	align-items: center;
}
.line:before, .line:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background:#e5e5e5;
	display: block;
}
.line:before {
	margin-right: .4em;
}
.line:after {
	margin-left: .4em;
}


footer {
  background-color: #2f5167;
  color: #fff;
  height: 180px;
  padding: 30x;
  width:100%;
  margin-top: auto;
}

.icon-footer-size{
  width:40px;
  padding:10px;
}


img.icon-resize-footer{
  border-radius:60%;
}

.icon-link-footer{
  margin-right:20px;
  margin-left: 10px;
  display: flex;
  /*float: right;*/
  
}

.site-link{
  padding-left: 20px;  
}

.update-date{
  padding-right: 20px;
  
  float:right; 
}

.copy-right{
  color: #e5e5e5;
  
  margin-left:50px;
  float:bottom;
}

.copy-right p{
  text-align: center;
}

/*
#navbar-custom.navbar-default .navbar-nav>.active>a,
#navbar-custom.navbar-default .navbar-nav>.active>a:hover,
#navbar-custom.navbar-default .navbar-nav>.active>a:focus {
  color: rgb(240, 240, 240);
	background-color: rgba(92, 107, 192, 1);
}

#navbar-custom.navbar-default .navbar-toggle {
  border-color: #606fc3;
}

#navbar-custom.navbar-default .navbar-toggle:hover,
#navbar-custom.navbar-default .navbar-toggle:focus {
  background-color: #5c6bc0;
}

#navbar-custom.navbar-default .navbar-toggle .icon-bar {
  background-color: #5c6bc0;
}

#navbar-custom.navbar-default .navbar-toggle:hover .icon-bar,
#navbar-custom.navbar-default .navbar-toggle:focus .icon-bar {
	background-color: #3f51b5;
}

*/